# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production
build/
dist/

# Misc
.DS_Store
*.log
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
*.tsbuildinfo
.next/
.vercel/

# OS
Thumbs.db
