version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: movienight
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer:latest
    ports:
      - '8080:8080'
volumes:
  pgdata: